* {
  box-sizing: border-box;
}

body {
  background-color: azure;
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: lightcoral;
  width: 100%;
  height: 180px;
  border-radius: black;
}

.header h1 {
  font-size: 40px;
  text-align: left;
  margin-left: 10px;
  margin-right: 30px;
  padding-top: 60px;
  display: inline-block;
}

.header h2 {
  font-size: 20px;
  text-align-last: right;
  margin-right: 30pt;
  word-spacing: 30pt;
  padding-top: 0pt;
  display: inline-block;
}

.container-one {
  border-style: dotted;
  border: 5px, black;
  padding: 20px;
  box-sizing: content-box;
  margin-top: 10px; 
  margin-left: 5px;
  margin-right: 5px;
}

.content-container h1 {
  width: 97%;
  padding: 10px;
  margin-top: 10px; 
  margin-left: 0px;
  margin-right: 5px;
  font-size: 40px;
}

.content-container p {
  font-size: 25px;
}


.container-one img {
  float: left;
}

.container-two {
  border-style: dotted;
  border: 5px, black;
  padding: 20px;
  box-sizing: content-box;
  margin-top: 10px; 
  margin-left: 5px;
  margin-right: 5px;
}

.container-two img {
  float: right;
  
}


.footer {
  background-color: darkslateblue;

}